{
    "engines": {
        "primary": {
            "path": "C:\\path\\to\\Lesserkai.exe",
            "timeoutSec": 1
        },
        "backup": {
            "path": "C:\\path\\to\\Lesserkai.exe",
            "setoption": [
                "USI_Ponder value false",
                "USI_Hash value 256",
                "BookFile value public.bin",
                "UseBook value true"
            ]
        }
    },
    "logdir": "log",
    "replace": {
        "writehost": [
            [
                "^id name (.+)$",
                "id name failover-$1",
                ""
            ]
        ],
        "writeprimary": [],
        "writebackup": []
    }
}